body
  background-color: #868B93
  margin-left: 15%
  margin-right: 15%
.column
  background-color: #0051BC
  position: fixed
  width: 10%
  height: 100%
  top: 0px
#leftColumn
  left: 0px
#rightColumn
  right: 0px
