body
  background-color: #446cac
  margin-left: 15%
  margin-right: 15%
  font-family: sans-serif
  color: #162236
  font-size: 12px
.title
  background-color: #2a3c54
  border: 5px solid #162236
  border-radius: 15px
  -moz-border-radius: 15px
  -webkit-border-radius: 15px
  font-family: Inconsolata, monospace
  padding: 5px
  padding-left: 10px
  color: #7fb7ff
  font-size: 18px
.column
  background-color: #162236
  position: fixed
  width: 10%
  height: 100%
  top: 0px
#leftColumn
  left: 0px
#rightColumn
  right: 0px

table#layout
  width: 100%
  tr
    width: 100%
    td
      width: 50%
      vertical-align: top

.warning
  background-color: orange
  border: 3px solid black
  margin-top: 5px
  padding: 5px
  border-radius: 6px
  -moz-border-radius: 6px
  -webkit-border-radius: 6px

#news
  .post
    .pName
      font-size: 12pt
      padding: 5px
    .body
      font-size: 10pt
      display: none

#projects
  .project
    .name
      font-size: 12pt
      padding: 2px

#social
  .event
    .who
      display: inline
      padding: 2px
      font-weight: bold
    .body
      display: inline

.sectionHead, .sectionHead:visited
  font-size: 16pt
  color: white
