body
  background-color: #868B93
  margin-left: 10%
  margin-right: 10%
.column
  background-color: #0051BC
  position: fixed
  width: 10%
  height: 100%
#leftColumn
  left: 0
#rightColumn
  right: 0
