#leftColumn.column
#rightColumn.column
.title ~devyn

.warning
  :redcloth
    *Warning*: This website is a work-in-progress. It is possibly ugly and likely glitchy. Certain elements may not be formatted.

.message
  %p.lead
    You have reached the domain of ~devyn. How can I help you?
  :redcloth
    Just kidding. You see, this is _my_ website. Not _yours_. At any rate, this is my home page. Because I can never stay put [except when I'm sitting at my desk, on the computer], I spread out all my stuff across the internets.

    However, a major problem came out of that: there is no central location to look at all of my stuff! So, this page serves as a place where you can stare in amazement at the various works of ~devyn! So, without further ado, I give you.... my website!

%table#layout
  %tr#firstRow
    %td#news
      %a.sectionHead{:href => "http://devyn.tumblr.com/"} News
      #news_content
        Please wait...
    %td#profile
      %a.sectionHead{:href => "http://devyn.heroku.com/"} Profile
      #profile_content
        %img.avatar{:src => "http://www.gravatar.com/avatar/600ad48eea92da6bdab1e6d2b51bf819.jpg?s=128"}
        :redcloth
          Hello, I am ~devyn. I'm a hobbyist programmer, primarily using the "Ruby":http://ruby-lang.org programming language. However, I also enjoy more obscure languages like "Io":http://iolanguage.org or "Potion":http://github.com/fogus/potion/, and compiled languages like Objective-C and Java. I also like to draw things digitally [mostly because I suck with paper...] using "GIMP":http://gimp.org/, "Inkscape":http://inkscape.org/, or "Blender":http://blender.org/. I'm a high school student in Grade 9, and I live in British Columbia near Vancouver.
  %tr#secondRow
    %td#projects
      %a.sectionHead{:href => "http://github.com/devyn/"} Projects
      #projects_content
        Please wait...
    %td#social
      %a.sectionHead{:href => "http://friendfeed.com/devyn/"} Social
      #social_content
        Please wait...

%script
  :plain
    $("#news_content").load("/ext/tumblr");
    $("#projects_content").load("/ext/github");
    $("#social_content").load("/ext/friendfeed");
