#leftColumn
#rightColumn
.message
  Hello! This is the future home of ~devyn.... and has not been built yet. However, there are some pages on this site at the moment:
  %ul
    %li
      %a{:href => "/tutorials/rails"} Rails tutorial
