!!!
/ layout {
%html
  %head
    %title ~devyn
    - if @style
      - @style.each do |sty|
        %link{:rel => "stylesheet", :href => sty, :type => "text/css"}
    %script{:src => "/jquery.js", :type => "text/javascript"}
  %body
    / content {
    = yield
    / }
    #footer
      \~devyn |
      %a{:href => '/'} Home
      |
      %a{:href => 'http://devyn.tumblr.com/'} Blog
/ }
